<div class="row">
  <div class="col-6">
    <br>
    <br>
    <br>
    <p id="pa1">Otro de mis pasatiempos es la genealogía. A diferencia de
      lo que muchos piensan, no creo que la investigación genealógica consista sólo
      en obtener una lista de nombres organizada cronológicamente. Por el contrario,
      creo que el origen es un aspecto clave de la identidad personal, y me parece increíble
      poderlo detallar hasta el punto de concebirlo como fruto de la historia.
    </p>
      <p id="pa2">Por eso, disfruto trabajar en la construcción de mi árbol a partir de 
        la investigación de fuentes primarias en búsqueda de trazos de las personas 
        gracias a las cuales hoy existo. En esta búsqueda, he logrado encontrar documentos tan
        interesantes como el <a href="https://drive.google.com/drive/folders/10DQtd6rdqUqTqwICgOktPasbHTaVEDjg"
        style="color: #0f0f0f">testamento de Bernardo Álvarez Ruíz, mi tío hexabuelo muerto
          en enero de 1778
        </a>

      </p>
  </div>
  <div class="col-6">
    <img src="assets/imagenes/_7fbfdf52-7e03-45c6-a8d1-477b420e47e4.jpg" alt="Descripción del Ícono" style="width: 600px; height: 600px;" id="cabra">
  </div>
</div>
