#pa1 {
    
    outline: 2px solid #0a0a0af4; /* Cambia el color y el grosor del contorno según tus preferencias */
    padding: 10px;
    background-color: #6d9be6;
    border-radius: 30px;
    font-family: Arial, sans-serif;
     font-size: 20px;
}
#pa2 {
    
    outline: 2px solid #060606; /* Cambia el color y el grosor del contorno según tus preferencias */
    padding: 10px;
    background-color: #54bae6;
    border-radius: 30px;
    font-family: Arial, sans-serif;
     font-size: 20px;
}