<br>
<div class="row">
  <div class="col-10">
  <br>
  <p id="pa1">Al presente soy un pobre adulto joven al comienzo
    de mis veintes, por lo que mi hoja de vida no es muy amplia, se resume en
    mi paso por el colegio y en las carreras que ahora estudio.</p>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <img src="assets/imagenes/_e815f691-b332-4e8e-929b-a10f1072f093.jpg" alt="Descripción del Ícono" style="width: 300px; height: 300px;" id="cabra">
  </div>
  <div class="col-8">
    <br>
    <br>
    <br>
    <p id="pa2">Pasé trece años de mi vida como estudiante 
      del <a href="https://gimnasiomoderno.edu.co/">Gimnasio Moderno</a>, un colegio masculino y liberal que intenta emular 
      los métodos modernos de pedagogía que surgieron a principios del siglo XX
      como contrapartida al dominante <a href="https://es.wikipedia.org/wiki/Sistema_lancasteriano">
        método de Lancaster
      </a>, entre los que destaca especialmente el <a href="https://es.wikipedia.org/wiki/Sistema_lancasteriano">
        método Montesori
      </a>. En este colegio obtuve mi título de Bachiller, y adquirí mis amistades más cercanas.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <br>

    <p id="pa3">Actualmente soy estudiante de
      <a href="https://sistemas.uniandes.edu.co/es/isis">ingeniería de sistemas y computación en la 
        universidad de Los Andes
      </a>, programa del que pienso graduarme en 3 años aproximadamente. Elegí
      esta carrera no solo por ser la "carrera del futuro" como muchos la llaman, sino también y principalemnte
      porque disfruto mucho resolver problemas, sobre todo de tipo lógico y matemático y considero que soy hábil en esto.

    
      En mi <a href="https://github.com/DPOO-GRUPO3/Proyecto-3">perfil de gitHub</a> se encuentran varios
    de los proyectos que he realizado durante la carrera, desde páginas web hasta
  programas para recorrer grafos</p>
  </div>
  <div class="col-4">
    <img src="assets/imagenes/_c49003f7-21de-4b89-9279-2b1f349e086c.jpg" alt="Descripción del Ícono" style="width: 300px; height: 300px;" id="cabra">
  </div>
</div>
<div class="row">
  <div class="col-4">
    <img src="assets/imagenes/_e4de469b-6912-430a-82fe-0257901c1be9.jpg" alt="Descripción del Ícono" style="width: 300px; height: 300px;" id="cabra">
  </div>
  <div class="col-8">
    <br>
    <br>
    <br>
    <br>
    <p id="pa4">También estoy haciendo doble con 
      <a href="">economía</a> en la misma universidad
      de Los Andes. Creo que lo más valioso de este progrma es su <a href="https://es.wikipedia.org/wiki/Metodolog%C3%ADa_econ%C3%B3mica#:~:text=La%20metodolog%C3%ADa%20econ%C3%B3mica%20es%20el%20estudio%20de%20los,la%20metodolog%C3%ADa%20en%20la%20intersecci%C3%B3n%20de%20ambas%20disciplinas.">
        método
      </a> para tratar problemas humanos con el mayor rigor que puede 
      permitirse una ciencia social, y las herramientas que brinda en términos de la 
      <a href="https://www.ibm.com/es-es/topics/data-science">ciencia de datos</a>, especialmente útiles
      cuando se intercalan con buenas habilidades de programación.
    </p>
  </div>
</div>