
<div id="welcome">{{ mensaje }}</div>
<div class="row">
<div class="col-7">
    <br>
    <br>
    <br>
    <p id="pa">Hola, mi nombre es Samuel Santiago
        Peña Ricaurte Chacón y Ayala. Nací en Bogotá el 5 de marzo del 2003 (el año de las cabras según el calendario chino), y actualmente estoy viendo el curso de
        Desarrollo de Software en equipos con Vivian.
         Bienvenidos a mi página web, en ella encontrarán un poco más sobre mi, mi trayectoria académica y algunos de mis hobbies.</p>
         <br>
         <br>
         <img class="clock-image"
         id="mi_imagen"src="assets/imagenes/_77509639-8f34-4843-891d-fe2676b0ba14.jpg"
          alt="Descripción del Ícono" style="width: 150px; height: 150px;" >
</div>
<div class="col-5"><img src="assets/imagenes/_d1582da5-8ae4-4291-b48a-9d5f09d389b7.jpg" alt="Descripción del Ícono" style="width: 500px; height: 500px;" id="cabra"></div>
</div>


