<div class="row">
  <div class="col-8">
    <br>
    <br>
    <br>
    <br>
    <p id="pa1">En mi tiempo libre me gusta mucho escuchar música.
      La música no sólo me ayuda a relajarme, sino que me trasmite un mood para
      procesar emociones. Por eso, <a href="https://open.spotify.com/playlist/33DKHtZoMSItpAisaaPjpk?si=duv4LrCoS0SMh9taxR6YtQ&pi=u-tnrjQcC7TDqD"
      style="color: #f8f6f6">mi playlist de Spotify</a> es lo suficicientemente
      variada para esto.
      </p>
  </div>
  <div class="col-4">
    <img src="assets/imagenes/_0e913bef-eb6d-4058-845f-45db6b45d80c.jpg" alt="Descripción del Ícono" style="width: 300px; height: 300px;" id="cabra">
  </div>
</div>

<div class="row">

  <div class="col-6">
    <iframe width="560" height="315" src="//ok.ru/videoembed/2425960401500" frameborder="0" allow="autoplay" allowfullscreen></iframe>
  </div>
  <div class="col-6">
    <br>
    <br>
    <br>
    <p id="pa2">Si me preguntaran por "la soundtrack de mi vida", creo que respondería 
      Lemon Tree, de Fools Garden. Una sensación común para mi es la de no encontrarle sentido
      a muchas cosas, a las que en en general la gente parece encontrárselo.
      </p>
  </div>
</div>